body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(182, 215, 243);
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
